variables:
  MAVEN_SETTINGS_FILE_LOCATION_WITHIN_PROJECT: "/resources/settings.xml"
  MAVEN_SETTINGS_TARGET_LOCATION: "/opt/settings.xml"
  UPDATED_MAVEN_SETTINGS_LOCATION: "/opt/deploysettings.xml"

# define runner for all jobs
.common:
  tags:
    - &GITLAB_RUNNER docker

before_script:
  - mv ${CI_PROJECT_DIR}/${MAVEN_SETTINGS_FILE_LOCATION_WITHIN_PROJECT} ${MAVEN_SETTINGS_TARGET_LOCATION}
  - export MAVEN_REPO_AUTH_USER=${MVN_SERVICE_AUTH_USER}
  - export MAVEN_REPO_AUTH_PW=${MVN_SERVICE_AUTH_PW}
  - envsubst < ${MAVEN_SETTINGS_TARGET_LOCATION} >> ${UPDATED_MAVEN_SETTINGS_LOCATION}
  - cd ${CI_PROJECT_DIR}

stages:
  - mavenbuild

# every changes which you make in branches will generate a snapshot build
# snapshots can be overridden
snapshot-package-build:
  tags:
    - *GITLAB_RUNNER
  except:
    - master  
  image: ${MAVEN_BUILD_IMAGE}
  stage: mavenbuild
  script:  
    - mvn clean compile test package deploy -s ${UPDATED_MAVEN_SETTINGS_LOCATION} -P snapshot-build-profile -DskipTests=true -q

# release build will be triggered only if there are master branch changes
# releases are unique, can not be overridden
release-package-build:
  tags:
    - *GITLAB_RUNNER
  only:
    - master  
  image: ${MAVEN_BUILD_IMAGE}
  stage: mavenbuild
  script:
    - mvn clean compile test package deploy -s ${UPDATED_MAVEN_SETTINGS_LOCATION} -P release-build-profile -DskipTests=true -q
