<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <module-name>web-module-1</module-name>
    
    <servlet>
        <servlet-name>PrincipalInfoServlet</servlet-name>
        <servlet-class>ch.cern.examples.servlets.PrincipalInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrincipalInfoServlet</servlet-name>
        <url-pattern>/principal-info</url-pattern>
    </servlet-mapping>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secure</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>*</role-name>
    </security-role>
    
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>web-module-1 protected area</realm-name>
    </login-config>
      
</web-app>
