<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright 2020 CERN

   This software is distributed under the terms of the GNU General Public
   Licence version 3 (GPL Version 3), copied verbatim in the file "COPYING". In
   applying this licence, CERN does not waive the privileges and immunities
   granted to it by virtue of its status as an Intergovernmental Organization or
   submit itself to any jurisdiction.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <module-name>single-guarder-header-module</module-name>
    
    <servlet>
        <servlet-name>RequestInfoServlet</servlet-name>
        <servlet-class>ch.cern.examples.servlets.RequestInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestInfoServlet</servlet-name>
        <url-pattern>/request-info</url-pattern>
    </servlet-mapping>

</web-app>
